/* :root {
  --primary-color: #49a4c4;
  --secondary-color: #4bb2d5;
  --accent-color: #fa7677;
  --dark-primary-color: #1f2937;
  --dark-secondary-color: #ff7474;
  --light-accent-color: #ffbebe;
  --text-color-light: #fff;
  --text-color-dark: #000;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color-dark);
}

[data-theme="dark"] {
  --primary-color: #333;
  --secondary-color: #444;
  --accent-color: #fa7677;
  --text-color-light: #fff;
  --text-color-dark: #fff;
}

.hero-section {
  text-align: center;
  padding: 4rem 2rem;
  background-color: var(--accent-color);
  color: var(--text-color-light);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.features-section,
.testimonials-section {
  margin-top: 2rem;
  background: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 1.5rem;
}

.features-grid,
.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.feature-item,
.testimonial-item {
  background: var(--primary-color);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: var(--text-color-light);
}

.feature-item h3,
.testimonial-item p {
  margin-bottom: 1rem;
}

.btn-custom {
  background-color: var(--dark-primary-color);
  border: none;
  color: var(--text-color-light);
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.btn-custom:hover {
  background-color: var(--dark-secondary-color);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
} */
