/* .tooltip-container {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  width: 220px;
  background-color: #49a3c4d4; 
  color: black; 
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%; 
  left: -585%; 
  transform: translateX(
    -50%
  ); 
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
} */
