@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #aec4d8;
  --secondary-color: #ccddf0;
  --accent-color: #dfcfd2;
  --dark-primary-color: #7e899f;
  --dark-secondary-color: #ff7474;
  --light-accent-color: #ffbebe;
  --text-color-light: #fff;
  --text-color-dark: #000;
  --card-background-light: #f2f3f7;
  --card-background-dark: #313137;
  --nav-link-color: var(--text-color-dark);
  --icon-fill: black;
}

[data-theme="dark"] {
  --primary-color: #313137;
  --primary-color-dark: #aec4d8;
  --secondary-color: #7e899f;
  --accent-color: #dfcfd2;
  --text-color-light: #fff;
  --text-color-dark: #fff;
  --card-background-dark: #313137;
  --nav-link-color: var(--text-color-light);
  --icon-fill: white;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color-dark);
}

.container {
  background-color: var(--secondary-color);
}

.card {
  background-color: var(--card-background-light);
  color: var(--text-color-dark);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] .card {
  background-color: var(--card-background-dark);
  color: var(--text-color-light);
}

/************************Landing Page Styles */

.hero-section {
  position: relative;
  height: 80vh;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: var(--text-color-dark);
  text-align: left;
  padding: 2rem;
}

.hero-content {
  position: relative;
  z-index: 2;
  padding: 2rem;
  border-radius: 10px;
}

.hero-title {
  font-family: "Arial", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  animation: fadeIn 1s ease-in-out;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  animation: fadeIn 2s ease-in-out;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/hero-background.jpg") center/cover no-repeat;
  opacity: 0.5;
  animation: scaleBg 15s infinite alternate;
  z-index: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleBg {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.grid-item {
  color: var(--text-color-dark);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.grid-item:hover {
  transform: translateY(-5px);
}

.large-tile {
  grid-column: span 2;
  grid-row: span 2;
  background-color: #dfcfd2;
}

.medium-tile {
  grid-column: span 1;
  grid-row: span 2;
  background-color: #7e899f;
}

.small-tile {
  grid-column: span 1;
  grid-row: span 1;
  background-color: #aec4d8;
}

[data-theme="dark"] .grid-item {
  background-color: var(--card-background-dark);
  color: var(--text-color-light);
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 300px);
  }
}

.testimonials-section {
  padding: 2rem;
  border-radius: 15px;
  max-width: 50%;
  height: 7rem;
  margin: 2rem auto;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonials-section h2 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.testimonial {
  font-size: 1.5rem;
  color: var(--text-color-dark);
  opacity: 0;
  transition: opacity 1.5s ease-in-out, visibility 1.5s ease-in-out;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.testimonial.active {
  opacity: 1;
  visibility: visible;
}

[data-theme="dark"] .testimonials-section {
  color: var(--text-color-light);
}

[data-theme="dark"] .testimonial {
  color: var(--text-color-light);
}

/********************************Button Styles */

.btn-custom,
.btn-custom-cancel {
  background-color: var(--dark-primary-color);
  border: none;
  color: var(--text-color-dark);
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.75rem 1.5rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 8px;
}

[data-theme="dark"] .btn-custom,
[data-theme="dark"] .btn-custom-cancel {
  background-color: #aec4d8;
  color: var(--text-color-light);
}

.btn-custom:hover,
.btn-custom-cancel:hover {
  background-color: #dfcfd2;
}

.nav {
  background-color: var(--primary-color);
  height: 60px;
  display: flex;
  align-items: center;
}

/*************************Navbar Landing Page Styles */

.nav-landing {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10;
  background: transparent;
}

/***************************************Navbar Styles */

.navbar-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.nav a,
.nav button {
  color: var(--nav-link-color);
  cursor: pointer;
  transition: color 0.3s ease;
  padding: 8px;
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-size: 1.5rem;
}

.nav a:hover,
.nav button:hover {
  color: #dfcfd2;
}

.nav button {
  background: none;
  border: none;
}

/***************************************Footer styles */

.footer {
  background-color: var(--primary-color);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color-dark);
}

.text-balance {
  text-wrap: balance;
}

/***************************************Modal Styles */

.modal-content {
  background-color: var(--secondary-color);
  color: var(--text-color-dark);
  border-radius: 10px;
  padding: 1rem;
}

/**********************************Dark Mode Toggle Styles */

@import "https://unpkg.com/open-props/easings.min.css";

.sun-and-moon > :is(.moon, .sun, .sun-beams) {
  transform-origin: center;
}

.sun-and-moon > .sun {
  fill: var(--icon-fill, white);
}

.sun-and-moon > .moon > circle {
  fill: black;
}

.theme-toggle:is(:hover, :focus-visible) > .sun-and-moon > :is(.moon, .sun) {
  fill: var(--icon-fill-hover, white);
}

.sun-and-moon > .sun-beams {
  stroke: var(--icon-fill, white);
  stroke-width: 2px;
}

.theme-toggle:is(:hover, :focus-visible) .sun-and-moon > .sun-beams {
  stroke: var(--icon-fill-hover, white);
}

[data-theme="dark"] .sun-and-moon > .sun {
  transform: scale(1.75);
  fill: white;
}

[data-theme="dark"] .sun-and-moon > .sun-beams {
  opacity: 0;
}

[data-theme="dark"] .sun-and-moon > .moon > circle {
  transform: translateX(-7px);
}

@supports (cx: 1) {
  [data-theme="dark"] .sun-and-moon > .moon > circle {
    cx: 17;
    transform: translateX(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .sun-and-moon > .sun {
    transition: transform 0.5s var(--ease-elastic-3);
  }

  .sun-and-moon > .sun-beams {
    transition: transform 0.5s var(--ease-elastic-4), opacity 0.5s var(--ease-3);
  }

  .sun-and-moon .moon > circle {
    transition: transform 0.25s var(--ease-out-5);
  }

  @supports (cx: 1) {
    .sun-and-moon .moon > circle {
      transition: cx 0.25s var(--ease-out-5);
    }
  }

  [data-theme="dark"] .sun-and-moon > .sun {
    transition-timing-function: var(--ease-3);
    transition-duration: 0.25s;
    transform: scale(1.75);
  }

  [data-theme="dark"] .sun-and-moon > .sun-beams {
    transition-duration: 0.15s;
    transform: rotateZ(-25deg);
  }

  [data-theme="dark"] .sun-and-moon > .moon > circle {
    transition-duration: 0.5s;
    transition-delay: 0.25s;
  }
}

/*************************************************Tooltip Styles */
.tooltip-container {
  position: relative; /* Change from absolute to relative */
  margin-top: 10px; /* Add some space above */
}

.tooltip {
  visibility: hidden;
  width: 200px;
  background-color: var(--card-background-light);
  color: var(--text-color-dark);
  text-align: left;
  border-radius: 5px;
  padding: 0.5rem;
  position: absolute;
  bottom: 100%; /* Position above the icon */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
/*********************** Hide Password Toggle */
.password-toggle {
  position: absolute;
  right: 10px;
  top: 48px;
  cursor: pointer;
  color: var(--text-color-dark);
}

[data-theme="dark"] .tooltip {
  background-color: var(--card-background-dark);
  color: var(--text-color-light);
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

[data-theme="dark"] .password-toggle {
  color: var(--text-color-light);
}

/************************************Login and Signup styles */
/* .flex-grow {
  display: flex;
  align-items: center; 
  justify-content: center; 
} */

.auth-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  max-width: 450px; /* Maximum width for larger screens */
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--card-background-light);
  border-radius: 10px;
}

.auth-container input {
  width: 375px; /* Make inputs full-width by default */
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  background-color: var(--card-background-light);
  color: var(--text-color-dark);
}

/* Mobile-specific adjustments */
@media (max-width: 768px) {
  .auth-container {
    padding: 1.5rem;
    max-width: 90%; /* Use percentage width to allow flexibility on smaller screens */
    width: 100%;
  }

  .auth-container input {
    max-width: 300px; /* Limit max width even further on mobile */
  }
}

[data-theme="dark"] .auth-container {
  background-color: #7e899f;
  color: var(--text-color-light);
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

.auth-container h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: var(--text-color-dark);
}

[data-theme="dark"] .auth-container h1 {
  color: var(--text-color-light);
}

.auth-container label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: medium;
  color: var(--text-color-dark);
}

[data-theme="dark"] .auth-container label {
  color: var(--text-color-light);
}

[data-theme="dark"] .auth-container input {
  background-color: var(--card-background-dark);
  color: var (--text-color-light);
}

.auth-container input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.auth-container button {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--dark-primary-color);
  color: var(--text-color-light);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-container button:hover {
  background-color: #dfcfd2;
}

.forgot-password:hover {
  color: #dfcfd2;
}

.signup-btn {
  margin-bottom: 20px !important;
}

.auth-container .password-toggle {
  position: absolute;
  right: 10px;
  top: 48px;
  cursor: pointer;
  color: #555;
}

[data-theme="dark"] .password-toggle {
  color: var(--text-color-light);
}

/*******************************Suggestions Page Styles */

.suggestions-container {
  background-color: var(--card-background-light);
  color: var(--text-color-dark);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 2rem auto;
}

[data-theme="dark"] .suggestions-container {
  background-color: var(--secondary-color);
  color: var(--text-color-light);
}

.suggestions-container input[type="text"] {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  margin-bottom: 1rem;
  background-color: var(--card-background-light);
  color: var(--text-color-dark);
}

[data-theme="dark"] .suggestions-container input[type="text"] {
  background-color: var(--card-background-dark);
  color: var(--text-color-light);
}

.suggestions-btn-custom {
  background-color: var(--dark-primary-color);
  color: var(--text-color-dark);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.suggestions-btn-custom:hover {
  background-color: var(--accent-color);
}

[data-theme="dark"] .suggestions-btn-custom {
  background-color: var(--primary-color-dark);
  color: var(--text-color-dark);
}

[data-theme="dark"] .suggestions-btn-custom:hover {
  background-color: var(--accent-color);
}

.suggestions-container .message {
  text-align: center;
  margin-top: 1rem;
  font-size: 1rem;
  color: var(--text-color-dark);
}

[data-theme="dark"] .suggestions-container .message {
  color: var(--text-color-light);
}

.suggestions-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--primary-color);
}

.suggestions-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

[data-theme="dark"] .suggestions-page {
  background-color: var(--card-background-dark);
}

[data-theme="dark"] .suggestions-content {
  background-color: var(--primary-color);
}

@media (max-width: 768px) {
  .suggestions-container {
    padding: 1rem;
  }

  .suggestions-container input[type="text"] {
    padding: 0.5rem;
  }

  .suggestions-btn-custom {
    padding: 0.5rem 1rem;
  }
}
